.big-cocktail-card {
  width: 100vw;
}

.cocktail-card {
  width: 20rem;
}

.header h1, .cocktail-card h5.card-header, .big-cocktail-card h5.card-header {
  text-align: center;
}

.about-cocktails h3, .about-cocktails .row .col h5 {
  text-align: center;
}

/* .card-footer {
  position: absolute;
  bottom: 5px;
} */

.card-footer .copyright-footer h4 {
  text-align: center;
}

.testimonials h3 {
  text-align: center;
  padding: 5%;
}

.carousel {
  text-align: center;
}